.Nav ul {
    list-style-type: none;
    display: flex;
}
.Nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0 1rem;
    font-size: .75rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .Nav ul {
        flex-direction: column;
    }
}