:root {
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --tertiary-color: #ee9972;
  --quaternary-color: #fbdabb;
  --gray-color: #edefee;
  --black-color: #333;
  --rounded: 16px;
  --maxWidth: 665px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 60pt;
}
h2 {
  font-size: 40pt;
}
p {
  color : var(--black-color);
  font-size: 10pt;
  margin: 2rem 0 3rem 0;
}
span {
  color: var(--primary-color);
  font-size: 0.75rem;
}

figure {
  margin: 1rem;
}

.content {
  max-width: var(--maxWidth);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 1rem;
}
